%h4
  Número de Matrícula:
  = student.reg
%h3= student.name
%h4
  = student.curriculum.school.name
  \-
  = student.curriculum.period.name
- content_tag_for :ul, student do
  %li= link_to "Historico Escolar", student_enrollments_path(student)
  %li= link_to "Rematrícula", new_student_enrollment_path(student)


