%p
  Olá #{ current_user.email }
  =link_to "Sair", destroy_user_session_path
#tabs
  %a{ :class => "prev browse left" }
  .scrollable
    %ul{ :class => "tabs items" }
      %li=link_to "Perfil", "#"
      %li=link_to "Configurações", "#"
      - current_user.objects_with_role(:student, :type => "Student").each do |student|
        %li=link_to "Aluno #{student.reg}", "#"
  %a{ :class => "next browse right" }

.panes
  #profile
    %h1 Perfil do usuário
    %p Sobre mim
    = textilize current_user.profile.desc if current_user.profile
  #config
    %ul#current_user_menu
      %li
        = link_to "Anexar arquivos", new_user_attachment_path(current_user)
      %li
        = link_to "Atribuir Aluno a minha Conta", link_student_current_user_path
      %ul
        - current_user.attachments.each do |attach|
          %li= link_to(attach.file_name, [current_user,attach])
  - current_user.objects_with_role(:student, :type => "Student").each do |student|
    #student
      = render "current_users/student_menu", :student => student

:javascript
  //$("#students").tabs("#students div.pane", {tabs: 'h4', effect: 'slide', initialIndex: null});
  $(function() {
    // setup ul.tabs to work as tabs for each div directly under div.panes
    $("ul.tabs").tabs("div.panes > div");
  });
  $(".scrollable").scrollable();

