%p
  Olá #{ current_user.email }
  =link_to("Perfil", user_profile_path(current_user))
  \-
  =link_to "Sair", destroy_user_session_path
%ul#current_user_menu
  %li
    = link_to "Anexar arquivos", new_user_attachment_path(current_user)
  %li
    = link_to "Atribuir Aluno a minha Conta", link_student_current_user_path
    %ul
      - current_user.attachments.each do |attach|
        %li= link_to(attach.file_name, [current_user,attach])
- if current_user.has_role?(:student)
  #students
    = render :partial => "current_users/student_menu", :collection => current_user.objects_with_role(:student, :type => "Student")

:javascript
  $("#students").tabs("#students div.pane", {tabs: 'h4', effect: 'slide', initialIndex: null});

