%table
  %tr
    %th Disciplina
    %th Nome da Disciplina
    %th Ano e Semestre
    %th Conceito
    %th Periodo
  - sem = 0
  - tr_class = cycle("even", "odd")
  - @enrollments.each do |enrollment|
    - if sem != enrollment.course_semester.semester
      - sem = enrollment.course_semester.semester
      - tr_class = cycle("even", "odd")
    %tr{ :class => tr_class }
      %td= enrollment.discipline_code
      %td= enrollment.discipline_name
      %td= enrollment.semester
      %td= enrollment.grade
      %td= enrollment.school_semester
