%p
  &Agrave;
  %br
  Secretaria Acad&ecirc;mica
%p#dados_aluno
  Eu,
  = @student.name
  , matr&iacute;cula n&ordm;
  = @student.registration
  , RG n&ordm;
  = @student.identity
  , residente &agrave;
  = @student.address_path
  = @student.address_streetname
  ,
  = @student.address_number
  ,
  = @student.address_neighbourhood
  cidade de
  = @student.address_municipality
  \-
  = @student.address_state
  ciente das
  %a{ :href => "http://www.fatecsp.br/paginas/normas_gerais_matricula.pdf" }NORMAS GERAIS DE MATR&Iacute;CULA
  e das
  %a{ :href => "http://www.fatecsp.br/paginas/normas_compl_novas.pdf" }NORMAS COMPLEMENTARES DE MATR&Iacute;CULA
  , venho requerer a minha inscri&ccedil;&atilde;o nas seguintes disciplinas do Curso de
  = @student.curriculum.school.name
  , turno
  = @student.curriculum.period.name
  \.
%p#resolucaocruesp &quot;&Eacute; proibida a matr&iacute;cula simult&acirc;nea em mais de uma institui&ccedil;&atilde;o p&uacute;blica de ensino superior&quot; (Resolu&ccedil;&atilde;o CRUESP 139/86)
#new_enrollments
  - @enrollments.each do |enrollment|
    - div_for enrollment, :class => "#{enrollment_status(enrollment)}" do
      - form_for [@student, enrollment] do |f|
        = f.error_messages
        = f.hidden_field :course_semester_id
        %p
          = enrollment.course_semester.course.discipline.acronym
          = enrollment.course_semester.course.course_school_id
          = f.submit "Confirmar Matrícula"

