- def test_named_url; debugger; test_named_path; end

!!!
%html{html_attrs('pt')}

  %head
    %title
      FATEC-SP#{h(yield(:title) || " - Faculdade de Tecnologia de São Paulo")}

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = javascript_include_tag 'jquery-1.4.2', 'jquery.tools.min'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes'
    = stylesheet_link_tag 'layout_san'
    = yield(:head)

  %body
    #overlay.apple_overlay
      .over_content
        .contentWrap
    #container
      #head
        #back_top

          #help_link
            = link_to content_tag(:span, "Help"), help_path(request.path.to_s.sub(/\//,'').gsub(/\//, '-')), :rel => '#overlay'
        #back_logo
        #content_top
          #text_top
            %h1#title FATEC-SP - Faculdade de Tecnologia de São Paulo

      #middle
        #content
          %ul#navigation_menu
            %li#menu_link= link_to "Menu", current_user_path
            %li#back_link= link_to "Voltar", :back
          - flash.each do |name, msg|
            = content_tag(:div, msg, :id => "flash_#{name}", :class => "flash_#{name}") if [:error,:alert,:notice,:success].include?(name)

          - if show_title?
            %h1=h yield(:title)

          = yield

          #security_div{ :style => "height:2px;" }

      #footer
        #back_footer
